# Q1

In [2]:
fn=input("enter your first name: ")
ln=input("enter your last name: ")
print(ln,fn)

enter your first name: khalil
enter your last name: souid
souid khalil

# Q2

In [ ]:
n=input("type an integer: ")
s=int(str(n))+int(str(n+n))+int(str(n+n+n))
print(s,"(",str(n),'+',str(n+n),'+',str(n+n+n),")")

# Q3

In [ ]:
n=float(input('type a number'))
if n%2==0:
    print('even number')
else: 
    print('odd number')

# Q4

In [ ]:
for i in range (2000,3201):
    if i%7==0 and i%5!=0:
        print(i, end= " ")

# Q5

In [ ]:
n=int(input('type an integer'))
p=1
for i in range(1,n+1):
    p=p*i
print(p)

# Q6

In [ ]:
c=input('type a string')
c1=""
for i in range(len(c)):
    if (i%2==0):
        c1+=c[i]
print(c1)

# Q7

In [ ]:
n=float(input("type a number"))
if n>=500:
    print("there will be a 50% discount")
elif n<500 and n>=200:
    print("there will be a 30% discount")
else:
    print('there will be a 10% discount')

# Q8

In [ ]:
y=input('type the selected year')
if int(y[-2:])%4==0 and y[-2:]!="00":
    print("leap year")
else:
    print("non leap year")